CV Iteration 1
tp: 207, fp: 43, fn: 70, tn: 180
Accuracy: 0.774

CV Iteration 2
tp: 196, fp: 54, fn: 62, tn: 188
Accuracy: 0.768

CV Iteration 3
tp: 193, fp: 60, fn: 61, tn: 186
Accuracy: 0.758

CV Iteration 4
tp: 176, fp: 64, fn: 65, tn: 195
Accuracy: 0.742

CV Iteration 5
tp: 186, fp: 61, fn: 61, tn: 192
Accuracy: 0.756

CV Iteration 6
tp: 191, fp: 47, fn: 62, tn: 200
Accuracy: 0.782

CV Iteration 7
tp: 192, fp: 53, fn: 61, tn: 194
Accuracy: 0.772

CV Iteration 8
tp: 199, fp: 50, fn: 69, tn: 182
Accuracy: 0.762

CV Iteration 9
tp: 162, fp: 63, fn: 67, tn: 208
Accuracy: 0.74

CV Iteration 10
tp: 215, fp: 59, fn: 55, tn: 171
Accuracy: 0.772